body{
  text-align: center;
  margin:0 auto;
  overflow-x: hidden;
}
nav{
  padding:10px;
}
.white-text {
  color:white;
}
.lft{
  text-align: left;
}
.cntr{
  text-align: center;
}
.ryt{
  text-align: right;
}
.bg-custom{
  background-color: white;
}
.topcontainer{
  padding: 30px 0;
  margin:auto;
}
.leftcontainer{
  padding: 30px 0;
}
.about{
  margin:auto;
}
img{
  width:30vw;
}
.about-item{
  width:30vw;
  margin: 20px 0 20px 3vw;
  border-radius: 20px;
}
.white-text a{
  color: #666;
  text-decoration: none;
}
.white-text a:hover{
  color: #F9F6EE;
}
.about-item a{
  color: #888;
    text-decoration: none;
}
.about-item a:hover{
  color: #444;
}
@media (max-width: 768px) {
  img{
    width:50vw;
  }
  .about-item{
    width:90vw;
    margin: 20px 0 20px 7vw;
  }

  .leftcontainer{
    text-align: center;
    padding: 30px 10vw;
  }
}
